<div class="general-container">
    <div class="left-block">
        <img src="../../../assets/images/general.png" alt="general-image">
    </div>
    <div class="right-block">
        <div class="title">For Surgeons, By Surgeons</div>
        <h3>Accurate. Smart. Simple.</h3>
        <p class="paragraph">At Cedrus, we are developing a smart software, to lower the burden of clinical data collection, predict patient outcomes and optimize the performance of joint replacement surgeries.</p>
        <button class="get-involved" (click)="gotToContact()">get involved</button>
        <p class="notes">Cedrus Inc. products are in development. They are not yet marketed/registered in the United States or elsewhere.</p>
    </div>
</div>  